#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(196, 255, 243) ;
}

body{
  background-color: bisque;
}

li {
  list-style:none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 244, 215);
  margin: 8px;
  padding: 15px;
  border-radius: 15px; 
}

li:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

button{
  margin:10px;
}

#formTarea{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center
}

#popup-content-box{
  position:fixed;
  background-color: whitesmoke;
  border: 10px;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
}


